{{! banner}}
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="http://hackbinimg.luokangyuan.com/banner/banner1.jpg" alt="{{title}}">
            </div>
            <div class="swiper-slide">
                <img src="http://hackbinimg.luokangyuan.com/banner/banner2.jpg" alt="{{title}}">
            </div>
            <div class="swiper-slide">
                <img src="http://hackbinimg.luokangyuan.com/banner/banner3.jpg" alt="{{title}}">
            </div>
        </div>
        <!-- 如果需要分页器 -->
        {{!-- <div class="swiper-pagination"></div> --}}
        
        <!-- 如果需要导航按钮 -->
        {{!-- <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div> --}}
        {{!-- 挡住下面banner的遮罩 --}}
        <div class="jianbian-baise middle-center">
        </div>
    </div>
</div>