{{!-- banner上的信息 --}}
<div class="banner-top-content container">
    <div class="banner-txt-box">
        {{!-- <div class="tbox-top">
            <span class="date-txt" id="season"></span>
            <span class="data-txt-en" id="point"></span>
            <span class="data-txt-en" id="season-en"></span>
        </div>
        <div class="line"></div>
        <div class="tbox-bottom" id="description"></div> --}}
    </div>
    <div class="banner-rili-content">
        {{!-- <div class="nongli">戊戌年十二月廿六</div>
        <div class="guoli-box">
            <span class="data">00/</span>
            <span class="year-month">
                <div class="guoli-month">00月</div>
                <div class="guoli-year">0000</div>
            </span>
        </div> --}}
    </div>
</div>
