{{!-- banner上的信息 --}}
<div class="banner-top-content container">
    <div class="banner-txt-box">
        <div class="tbox-top">
            <span class="date-txt">夏</span>
            <span class="data-txt-en">·</span>
            <span class="data-txt-en">The Summer</span>
        </div>
        <div class="tbox-bottom">
            热烈 活力 生长
        </div>
    </div>
    <div class="banner-rili-content">
        <div class="nongli">戊戌年十二月廿六</div>
        <div class="guoli-box">
            <span class="data">00/</span>
            <span class="year-month">
                <div class="guoli-month">00月</div>
                <div class="guoli-year">0000</div>
            </span>
        </div>
    </div>
</div>
