{{!-- 首页文章循环 --}}
<a href="{{@blog.url}}" class="phone-header">
    {{#if @blog.icon}}
        <img class="logi-img" src="{{@blog.icon}}"/>
    {{/if}}
    <span class="site-nav-logo">{{@blog.title}}</span>
</a>